"""
https://indego.ericoc.com
https://github.com/ericoc/indego.ericoc.com
config.py
"""
TESTING = False
DEBUG = False
SECRET_KEY = 'SECRET_REDACTED_SECRET'
TIMEZONE = 'US/Eastern'
USE_SESSION_FOR_NEXT = True
SQLALCHEMY_URL = 'postgresql://indego:password@127.0.0.1:5432/indego'
SQLALCHEMY_ECHO = False
