body {
    font-family:    Arial, Helvetica, sans-serif;
}

.header {
    font-weight:        bold;
    background-color:   #fff;
    color:              #16216a;
    border-color:       #000;
    border-style:       solid;
    border-width:       0px 0px 1px 0px;
}

.footer {
    font-weight:        bold;
    background-color:   #fff;
    color:              #16216a;
    border-color:       #000;
    border-style:       solid;
    border-width:       1px 0px 0px 0px;
}

.graphcol {
    text-align: center;
}

#bikesgraph {
    min-width:  310px;
    height:     400px;
    margin:     0 auto;
}

table {
    border-collapse:    collapse;
    border-color:       #000;
    border-style:       solid;
    border-width:       1px 1px 1px 1px;
}

tr:nth-child(2n) {
    background-color:   #eee;
}

tr:target {
    background-color:   #94d60a;
}

.bikes {
    color:          #0082cb;
    font-size:      0.75em;
}

.docks {
    color:          #ccc;
    font-size:      0.75em;
}

.inactive {
    background-color:   orange;
}

h1 {
    color:              #16216a;
    text-decoration:    underline;
    font-family:        Tahoma, sans-serif;
}
