db_creds = dict(
    username    = 'indego',
    password    = 'SECRET'
)
googlemaps_api_key  = 'SECRET'

database_uri    = f"postgresql+psycopg2://{db_creds['username']}:{db_creds['password']}@127.0.0.1:5432/indego"
