html, body, table {
    font-family:        'Open Sans', sans-serif;
}

h1 {
    font-size:          2em;
    transform:          scale(-1, 1);
    border-color:       #09f;
    border-style:       solid;
    border-width:       0.01em;
}

h2 {
    font-size:          1.1em;
}

h3, h4 {
    font-size:          1em;
}

h1, h2, h3, h4 {
    font-weight:        normal;
    margin:             0;
    padding:            0;
}

#logo {
    padding-left:       0.5em;
    padding-right:      0.5em;
}

#logo:hover {
    transform:          rotate(25deg);
}

#logo:active {
    transform:          rotate(45deg);
}

@media (prefers-reduced-motion) {
    #logo:active, #logo:hover {
        transform:      none;
    }
}

h1, #logo, #totals, #search, button, input, form {
    display:        inline-block;
    background-color:   inherit;
}

a {
    text-decoration:    none;
}

a:link, a:visited {
    color:              #0082cb;
}

a:hover, a:active, #station-list li:target a, #station-list li.unavailable a {
    color:              #006;
}

#totals, code {
    float:              right;
    font-size:          0.8em;
}

#added {
    font-style:         italic;
}

#station-list li {
    list-style:         none;
    text-align:         right;
}

.station-link, .station-graph {
    display:            block;
    font-size:          0.8em;
}

#station-list li:nth-child(2n) {
    background-color:   #ddd;
}

#station-list li:target {
    list-style:         '🚲 ';
    font-weight:        bold;
}

.station-graph {
    padding-top:        0.5em;
    padding-bottom:     0.5em;
}

.bikes {
    color:              #0082cb;
}

.electric {
    color:              #e4d00a;
}

.docks {
    color:              #666;
}

#map-canvas, table, input, button {
    border-color:       #09f;
    border-style:       solid;
    border-width:       0.1em;
}

#left-box {
    float:              left;
    position:           fixed;
    height:             95vh;
    width:              67vw;
}

#right-box {
    float:              right;
    width:              32vw;
}

#map-canvas {
    margin-top:         0.5em;
    height:             85vh;
}

#flashes {
    color:              #f80;
    font-weight:        bold;
}

.flash-fatal, #map-canvas .unavailable, #station-list li.unavailable a {
    font-weight:        bold;
    color:              #a00;
}

@media (max-width: 1024px) {
    #left-box, #map-canvas, #right-box, #search, #station-list, #totals, #flashes, p {
        clear:          both;
        display:        inline-block;
        float:          none;
        position:       relative;
        overflow:       visible;
        width:          90vw;
    }
}

@media (prefers-color-scheme: dark) {

    body, table li:target a, li, input, #station-list li:nth-child(2n), #map-canvas .gm-style-iw, #map-canvas .gm-style {
        background-color:   #444;
        color:              #fff;
    }

    #map-canvas .gm-style-iw div {
        overflow:           hidden !important;
        padding:            0.5em;
    }

    .docks {
        color:              #ccc;
    }

    a:hover, a:active {
        color:              #fff;
    }
}
