{%- if chartjs_stations and chartjs_stations is iterable -%}
$(function () {
    {%- for chartjs_station in chartjs_stations %}
    $('#bikesgraph_{{ chartjs_station['kioskId'] }}').highcharts({
        chart: { zoomType: 'x' },
        title: { text: "Bikes available at {{ chartjs_station['name'] }}" },
        subtitle: { text: document.ontouchstart === undefined ? 'Click and drag in the plot area to zoom in' : 'Pinch the chart to zoom in' },
        xAxis: { title: { text: 'when' }, type: 'datetime' },
        yAxis: { title: { text: 'bikes' }, max: {{ chartjs_station['totalDocks'] }} },
        legend: { enabled: true },
        series: [{ type: 'area', name: 'Bikes Available', data: data_{{ chartjs_station['kioskId'] }} }]
    });
    {%- endfor %}
});

Highcharts.setOptions({
    global: { useUTC: false }
});
{%- endif -%}
