<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="author" content="Eric O'Callaghan">
        <meta name="description" content="Charts of available bicycles and docks for Philadelphia Indego bicycle-share stations.">
        <meta name="keywords" content="ericoc, indego, philadelphia, philly, bikes, bikeshare, bicycles, charts, graphs">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta property="og:type" content="website">
        <meta property="og:site_name" content="indego.ericoc.com">
        <meta property="og:title" content="indego.ericoc.com">
        <meta property="og:description" content="Charts of available bicycles and docks for Philadelphia Indego bicycle-share stations.">
        <meta property="og:url" content="{{ url_for('index', _external=True) }}">
        <meta property="og:image" content="{{ url_for('static', filename='icon.png', _external=True) }}">
        <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="">
        <link rel="shortcut icon" href="{{ url_for('static', filename='icon.png') }}">
        <link rel="apple-touch-icon" href="{{ url_for('static', filename='icon.png') }}">
        <title>PHL / Indego stations</title>
    {%- if stations %}
        <script id="stations" type="application/json">{{ stations | tojson }}</script>
        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
        <script type="text/javascript">

            // Create a function to make graphs
            function graphStation(kioskId) {

                const character = '█';
                const station = stations[kioskId];

                let graph = '';
                for (let i = 0; i < count; i++) {
                    graph += character;
                };

                const linkNode = document.createElement('a');
                linkNode.appendChild(document.createTextNode(graph));
                linkNode.className = type;
                linkNode.href = '#' + kioskId;
                linkNode.onclick = function() { markers[kioskId].openPopup(); };
                linkNode.title = count + ' ' + type;
                document.getElementById(where).appendChild(linkNode);
            };

            // Create a function to pan and zoom the map to the users current GPS location, if requested
            function findMe() {
                function success(pos) {
                    const crd = pos.coords;
                    const center = { lat: crd.latitude, lng: crd.longitude };
                };
                function error(err) { console.warn(err.code, err.message); };
                const options = {
                    timeout: 10000, maximumAge: 30000, enableHighAccuracy: true
                };
                navigator.geolocation.getCurrentPosition(success, error, options);
            };

        </script>
    {%- endif %}
    </head>
    <body>
        <div id="left-box">
            <h1 title="Philadelphia Indego Bicycles">
                <a id="logo" href="{{ url_for('index') }}">🚲</a>
            </h1>
            <div id="totals">
                <h2 id="available-stations"></h2>
                <h3 id="bikes-available"></h3>
                <h3 id="docks-available"></h3>
            </div>
            <div id="search" title="Search">
                <button onclick="findMe();" title="My Location">📍</button>
                <form method="post" action="{{ url_for('search_form') }}">
                    <input type="text" name="search">
                    <label for="search">
                        <i>
                            (i.e. "<a href="{{ url_for('search_stations', search='Broad') }}">Broad</a>",
                            "<a href="{{ url_for('search_stations', search='19107') }}">19107</a>",
                            or "<a href="{{ url_for('search_stations', search='Market' )}}">Market</a>")
                        </i>
                    </label>
                    <input type="submit" value="Search!">
                </form>
            </div>
    {%- with messages = get_flashed_messages(with_categories=True) %}
        {%- if messages %}
            <div id="messages" title="Messages">
                <ul id="flashes">
            {%- for category, message in messages %}
                    <li class="flash-{{ category }}">
                        {{ message }}
                    </li>
            {%- endfor %}
                </ul>
            </div>
        {%- endif %}
    {%- endwith %}
    {%- if stations %}
            <div id="map-canvas"></div>
    {%- endif %}
    {%- if added_web and added_since %}
            <p id="added">
                <code title="As of: {{ added_web.strftime('%a, %d %b %Y @ %I:%M:%S %p %Z') }} ({{ added_since }} ago)">
                    as of: {{ added_web.strftime('%a, %d %b %Y @ %I:%M:%S %p %Z') }} ({{ added_since }} ago)
                </code>
            </p>
    {%- endif %}
        </div>
        <div id="right-box">
    {%- if stations %}
            <div id="station-list" title="Stations">
                <ol>
                </ol>
            </div>
            <script type="text/javascript">

                // Empty markers, latitudes, longitudes, and stations
                const markers = [];
                const latitudes = [];
                const longitudes = [];
                const stations = [];

                // Parse and count station JSON objects
                const stationsId = document.getElementById('stations');
                const stationData = JSON.parse(stationsId.textContent);
                const stationCount = stationData.length;
                console.log('stationCount: ' + stationCount);

                let availableStations = stationCount;
                let totalBikesAvailable = 0;
                let totalDocksAvailable = 0;
                let totalElectricAvailable = 0;
                let unavailableStations = 0;

                const map = L.map('map-canvas');
                L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    attribution: '&copy; OpenStreetMap'
                }).addTo(map);

                for (const station of stationData) {

                    // Get station kiosk ID, name, and status
                    const kioskId = station['kioskId'];
                    stations[kioskId] = station;
                    const stationName = station['name'];
                    const stationStatus = station['kioskPublicStatus'];

                    totalBikesAvailable += station['bikesAvailable'];
                    totalDocksAvailable += station['docksAvailable'];
                    totalElectricAvailable += station['electricBikesAvailable'];

                    if (stationStatus !== 'Active') {
                        availableStations -= 1;
                        unavailableStations += 1;
                    };

                    // Keep track of coordinates, for bounds min/max later
                    const latitude = Number(station['latitude']);
                    const longitude = Number(station['longitude']);
                    latitudes.push(latitude);
                    longitudes.push(longitude);

                    // Start creating marker popup contents
                    let contentString = '<h4>';
                    contentString += '<a href="#' + kioskId + '">' + stationName + '</a>';
                    contentString += ' ';
                    contentString += '<a href="/search/' + kioskId + '#' + kioskId + '">🔗</a>';
                    contentString += '</h4>';
                    contentString += '<div class="station-graph">';
                    contentString += '<a href="#' + kioskId + '" target="popup" onclick="window.open(this.href,\'_self\'); window.open(\'/chart/' + kioskId + '\',\'popup\',\'width=800,height=500\'); return false;">';
                    contentString += '<span class="bikes">';
                    for (let i = 0; i < station['classicBikesAvailable']; i++) {
                        contentString += '█';
                    };
                    contentString += '</span>';
                    contentString += '<span class="electric">';
                    for (let i = 0; i < station['electricBikesAvailable']; i++) {
                        contentString += '█';
                    };
                    contentString += '</span>';
                    contentString += '<span class="docks">';
                    for (let i = 0; i < station['docksAvailable']; i++) {
                        contentString += '█';
                    };
                    contentString += '</span>';
                    contentString += '</a>';
                    contentString += '</div>';
                    contentString += '<b>Bikes</b>: ' + station["bikesAvailable"] + ' ';
                    contentString += '(' + station["electricBikesAvailable"] + ' electric)<br>';
                    contentString += '<b>Docks</b>: ' + station["docksAvailable"] + ' (of ' + station["totalDocks"] + ')<br>';
                    contentString += '<a href="https://www.google.com/maps/search/?api=1&query=' + station["latitude"] + ',' + station["longitude"] + '" target="_blank">';
                    contentString += station['addressStreet'] + '<br>' + station['addressCity'] + ', ' + station['addressState'] +  ' ' + station['addressZipCode'];
                    contentString += '</a>';
                    contentString += '<br>';
                    contentString += '<b>Kiosk #</b>: ' + kioskId + '<br>';
                    contentString += '<b>Status</b>: <span id="station-status">' + stationStatus + '</span><br>';
                    if (stationStatus !== 'Active') {
                        document.getElementById('station-status').className = 'unavailable';
                    };
                    // Finish creating marker popup contents

                    // Create map marker for each station
                    markers[kioskId] = L.marker(
                        [station['latitude'], station['longitude']]
                    ).addTo(map).bindPopup(contentString).openPopup();

                    // List each station
                    const listNode = document.createElement('li');
                    listNode.id = kioskId;
                    listNode.value = kioskId;

                    const linkNode = document.createElement('a');
                    linkNode.appendChild(document.createTextNode(stationName));
                    linkNode.className = 'station-link';
                    linkNode.href = '#' + kioskId;
                    linkNode.onclick = function() { markers[kioskId].openPopup(); };
                    linkNode.title = stationName;
                    listNode.appendChild(linkNode);

                    document.getElementById('station-list').appendChild(listNode);
                };

                document.getElementById('available-stations').innerText = availableStations + ' / ' + stationCount + ' stations available';
                document.getElementById('bikes-available').innerText = totalBikesAvailable + ' / ' + stationCount + ' bicycles available (' + totalElectricAvailable + ' electric)';
                document.getElementById('docks-available').innerText = totalDocksAvailable + ' docks available';

                // Set map bounds using min/max coordinates
                map.fitBounds(
                    [
                        [Math.min(...latitudes), Math.min(...longitudes)],
                        [Math.max(...latitudes), Math.max(...longitudes)]
                    ]
                );

                // Open popup for marker if referenced by URL anchor
                if (window.location.hash.substr(1)) {
                    const anchor = window.location.hash.substr(1);
                    if (markers[anchor]) {
                        markers[anchor].openPopup();
                    };
                };

                // Open popup if single marker
                if (stationCount === 1) {
                    markers[Object.keys(markers)[0]].openPopup();
                };

                //

            </script>
    {%- endif %}
            <p>
                <code>
                    <a href="https://github.com/ericoc/indego.ericoc.com" target="_blank">https://github.com/ericoc/indego.ericoc.com</a>
                </code>
            </p>
        </div>
    </body>
</html>
                <!--
                    <div class="graph">
                        <a href="#3164" target="popup" onclick="window.open(this.href,'_self'); window.open('/chart/3164','popup','width=800,height=500'); return false;">
                            <span class="bikes">█████</span>
                            <span class="electric">█████████</span>
                            <span class="docks">█</span>
                        </a>
                    </div>
                -->
