{%- if indego_stations and indego_stations is iterable -%}
$(function () {
  {%- for indego_station in indego_stations %}
    $('#bikesgraph_{{ indego_station['kioskId'] }}').highcharts({
        chart: { zoomType: 'x' },
        title: { text: "Bikes available at {{ indego_station['name'] }}" },
        subtitle: { text: document.ontouchstart === undefined ? 'Click and drag in the plot area to zoom in' : 'Pinch the chart to zoom in' },
        xAxis: { title: { text: 'when' }, type: 'datetime' },
        yAxis: { title: { text: 'bikes' }, max: {{ indego_station['totalDocks'] }} },
        legend: { enabled: true },
        series: [{ type: 'area', name: 'Bikes Available', data: data_{{ indego_station['kioskId'] }} }]
    });
  {%- endfor %}
});

Highcharts.setOptions({
    global: { useUTC: false }
});
{%- endif -%}
