{%- if station -%}
var data_{{ station['kioskId'] }} = ([
 {%- if chart_data and chart_data is iterable -%}
  {%- for data_point in chart_data %}
    [{{ data_point[0] }}, {{ data_point[1] }}]
    {%- if not loop.last -%},{%- endif -%}
  {%- endfor %}
 {%- else -%}
   [0, 0]
 {%- endif %}
]);
{%- endif %}
