<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Indego Bike Share Availability</title>
        <link href="/static/indego.css" rel="stylesheet" type="text/css">
        <link rel="shortcut icon" href="/static/favicon.ico">
        <link rel="apple-touch-icon" href="/static/icon.png">
    {%- if indego_stations is defined -%}
        <script type="text/javascript" src="/static/js/jquery.min.js"></script>
        <script type="text/javascript" src="/static/js/highcharts.js"></script>
        <script type="text/javascript" src="/static/js/exporting.js"></script>
      {%- for indego_station in indego_stations %}
        <script type="text/javascript" src="/chartjs/{{ indego_station['kioskId'] }}"></script>
      {%- endfor %}
    {%- endif %}
    </head>
    <body>
    {%- if indego_stations is defined -%}
      {%- for indego_station in indego_stations %}
        <div id="bikesgraph"></div>
      {%- endfor %}
    {%- else %}
        Station not found.
    {%- endif %}
    </body>
</html>
