<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Indego Bike Share Availability</title>
        <link href="/static/indego.css" rel="stylesheet" type="text/css">
        <link rel="shortcut icon" href="/static/favicon.ico">
        <link rel="apple-touch-icon" href="/static/icon.png">
    {%- if chart_stations is defined and chart_stations is iterable and chart_string -%}
        <script type="text/javascript" src="/static/js/jquery.min.js"></script>
        <script type="text/javascript" src="/static/js/highcharts.js"></script>
        <script type="text/javascript" src="/static/js/exporting.js"></script>
      {%- for chart_station in chart_stations %}
        <script type="text/javascript" src="/chartdata/{{ chart_station['kioskId'] }}"></script>
      {%- endfor %}
        <script type="text/javascript" src="/chartjs/{{ chart_string }}"></script>
    {%- endif %}
    </head>
    <body>
    {%- if chart_stations is defined and chart_stations is iterable -%}
      {%- for chart_station in chart_stations %}
        <div id="bikesgraph_{{ chart_station['kioskId'] }}"></div>
        {%- if not loop.last -%}<br>{%- endif -%}
      {%- endfor %}
    {%- else %}
        Station not found.
    {%- endif %}
    </body>
</html>
