<!DOCTYPE html>
<html lang="en">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="author" content="Eric O'Callaghan">
        <meta name="description" content="Philadelphia Indego Bikes">
        <meta name="keywords" content="ericoc, indego, philadelphia, philly, bikes, bikeshare, bicycles">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta property="og:type" content="website">
        <meta property="og:site_name" content="Philadelphia Indego Bikes">
        <meta property="og:title" content="Indego Bicycle Stations">
        <meta property="og:description" content="A quick and easy way to see available bicycles and docks for Philadlephia Indego bicycle-share stations.">
        <meta property="og:url" content="{{ url_for('index', _external=True) }}">
        <meta property="og:image" content="{{ url_for('static', filename='icon.png', _external=True) }}">
        <link href="{{ url_for('static', filename='indego.css') }}" rel="stylesheet" type="text/css">
        <link rel="shortcut icon" href="{{ url_for('static', filename='icon.png') }}">
        <link rel="apple-touch-icon" href="{{ url_for('static', filename='icon.png') }}">
        <title>Indego Bikes!</title>
    </head>

    <body>
        <h1>
            <a href="{{ url_for('index') }} ">Indego Bikes</a> <a href="https://xn--h78h.ericoc.com/">🚲</a>
        </h1>
        <br>
        <form method="post" action="{{ url_for('search_form') }}">
            <input type="text" name="search">
            <i>
            (i.e. "<a href="{{ url_for('search_stations', search='fairmount') }}">fairmount</a>"
            or "<a href="{{ url_for('search_stations', search='19107') }}">19107</a>")
            </i>
            <input type="submit" value="Search!">
        </form><br>

        <table>

            <tr class="header">
                <td>Kiosk ID</td>
                <td>Name</td>
                <td>Bikes</td>
                <td></td>
                <td>Docks</td>
                <td>History</td>
            </tr>

            {%- macro graph(count, character) %}
              {%- if count > 0 -%}
                {%- for item in range(count) -%}{{ character }}{%- endfor -%}
              {%- endif -%}
            {%- endmacro %}

            {%- if emoji %}
              {%- set bikes_character = '🚲' %}
              {%- set docks_character = '=' %}
            {%- else %}
              {%- set bikes_character = '█' %}
              {%- set docks_character = '█' %}
            {%- endif %}

            {%- if stations and stations is iterable and stations | length > 0 %}
              {%- set total_stations        = stations | length %}
              {%- set unavailable_stations  = stations.values() | selectattr('kioskPublicStatus', '!=', 'Active') | list | length %}
              {%- set total_bikes_available = stations.values() | sum(attribute='bikesAvailable') %}
              {%- set total_docks_available = stations.values() | sum(attribute='docksAvailable') %}

              {%- for kiosk_id, station in stations.items() %}

            <tr id="{{ kiosk_id }}">
                <td{% if station['kioskPublicStatus'] != 'Active' %} class="unavailable"{% endif %}><a href="#{{ kiosk_id }}">{{ kiosk_id }}</a></td>
                <td><span title="{{ station['addressStreet'] }} ({{ station['addressZipCode'] }})">{{ station['name'] }}{% if station['kioskPublicStatus'] != 'Active' %} ({{ station['kioskPublicStatus'] }}){% endif %}</span></td>
                <td>{{ station['bikesAvailable'] }}</td>
                <td><span class="bikes">{{ graph(station['bikesAvailable'], bikes_character) }}</span><span class="docks">{{ graph(station['docksAvailable'], docks_character) }}</span></td>
                <td>{{ station['docksAvailable'] }}</td>
                <td class="graphcol"><a href="#{{ kiosk_id }}" target="popup" onclick="window.open(this.href,'_self'); window.open('{{ url_for('chart_station', chart_string=kiosk_id) }}','popup','width=800,height=500'); return false;">📊</a></td>
            </tr>
              {%- endfor %}

            {%- else %}
              {%- set total_stations        = 0 %}
              {%- set unavailable_stations  = 0 %}
              {%- set total_bikes_available = 0 %}
              {%- set total_docks_available = 0 %}
            <tr>
                <td align="center" colspan="6">
                    <i>No stations found!</i>
                <td>
            </tr>
            {%- endif %}

            <tr class="footer">
                <td>Totals</td>
                <td>
                    <span title="{{ total_stations }} stations">
                        {{ total_stations }} station{%- if total_stations != 1 -%}s{%- endif -%}
                    </span>
                  {%- if unavailable_stations > 0 %}
                    <span title="{{ unavailable_stations }} unavailable">
                        ({{ unavailable_stations }} unavailable)
                    </span>
                  {%- endif %}
                </td>
                <td>
                    <span title="{{ total_bikes_available }} bicycles available">
                        {{ total_bikes_available }}
                    </span>
                </td>
                <td></td>
                <td>
                    <span title="{{ total_docks_available }} docks available">
                        {{ total_docks_available }}
                    </span>
                </td>
                <td></td>
            </tr>

        </table>

        <p>courtesy of <a href="https://www.rideindego.com/" target="_blank">Indego</a></p>
        <p><a href="https://github.com/ericoc/indego.ericoc.com/" target="_blank">view source @ github</a> | my Indego API libraries: <a href="https://github.com/ericoc/indego-py-lib/" target="_blank">python</a> | <a href="https://github.com/ericoc/indego-php-lib/" target="_blank">php</a></p>

    </body>

</html>
