{%- if stations is defined and stations is iterable and stations | length > 0 -%}
{%- set total_stations = stations | length -%}
{%- else -%}
{%- set total_stations = 0 -%}
{%- endif -%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta chartset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="author" content="Eric O'Callaghan">
        <meta name="description" content="Philadelphia Indego Bikes Map">
        <meta name="keywords" content="ericoc, indego, philadelphia, philly, bikes, bikeshare, bicycles">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta property="og:type" content="website">
        <meta property="og:site_name" content="Philadelphia Indego Bikes Map">
        <meta property="og:title" content="Indego Bicycle Stations Map">
        <meta property="og:description" content="A quick and easy way to see available bicycles and docks for Philadlephia Indego bicycle-share stations.">
        <meta property="og:url" content="{{ url_for('map', _external=True) }}">
        <meta property="og:image" content="{{ url_for('static', filename='icon.png', _external=True) }}">
        <link href="{{ url_for('static', filename='map.css') }}" rel="stylesheet" type="text/css">
        <link rel="shortcut icon" href="{{ url_for('static', filename='icon.png') }}">
        <link rel="apple-touch-icon" href="{{ url_for('static', filename='icon.png') }}">
        <title>Indego Bikes Map</title>
    {%- if googlemaps_api_key %}
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ googlemaps_api_key }}"></script>
    {%- endif %}
        <script type="text/javascript">
    {%- if total_stations > 0 %}

            // Start with empty markers and infowindows
            var markers     = [];
            var infowindows = [];

            // Google map init function
            function initMap() {

                // Create the map at Philadelphia, Pennsylvania City Hall
                const map   = new google.maps.Map(document.getElementById('map-canvas'), {
                    center: { lat: 39.9528, lng: -75.1635 },
                    zoom:   12
                });

        {%- for kiosk_id, station in stations.items() %}

              // Begin marker {{ kiosk_id }}
                {%- set station_name    = station['name'] | safe | replace("'", "\\'") | replace('"', '\\"') %}
                {%- set address_full    = station['addressStreet'] + ', ' + station['addressCity'] + ', ' + station['addressState'] +  ' ' + station['addressZipCode'] %}
                {%- set station_address = address_full | safe | replace("'", "\\'") | replace('"', '\\"') %}
                var contentString_{{ kiosk_id }}   = '<table>';
                contentString_{{ kiosk_id }}       += '<tr>';
                contentString_{{ kiosk_id }}       += '<th class="marker-header" title="{{ kiosk_id }})">';
                contentString_{{ kiosk_id }}       += '<a href="#{{ kiosk_id }}">{{ kiosk_id }} ({{ loop.index }} of {{ total_stations }})</a>';
                contentString_{{ kiosk_id }}       += '</th>';
                contentString_{{ kiosk_id }}       += '<th class="marker-header" title="{{ station_name }}">{{ station_name }}</th>';
                contentString_{{ kiosk_id }}       += '</tr>';
                contentString_{{ kiosk_id }}       += '<tr>';
                contentString_{{ kiosk_id }}       += '<td>Address</td>';
                contentString_{{ kiosk_id }}       += '<td>{{ station_address }}</td>';
                contentString_{{ kiosk_id }}       += '</tr>';
                contentString_{{ kiosk_id }}       += '</table>';
                const infowindow_{{ kiosk_id }}    = new google.maps.InfoWindow({
                    content:    contentString_{{ kiosk_id }},
                });

                const marker_{{ kiosk_id }} = new google.maps.Marker({
                    position:   { lat: {{ station['latitude'] }}, lng: {{ station['longitude'] }} },
                    map,
                    title:      "{{ station_name }}",
                });
                marker_{{ kiosk_id }}.addListener('click', () => {
                    closeWindows(infowindows);
                    infowindow_{{ kiosk_id }}.open({
                        anchor:         marker_{{ kiosk_id }},
                        map,
                        shouldFocus:    true
                    });
                    infowindows[{{ kiosk_id }}] = infowindow_{{ kiosk_id }};
                });
                markers[{{ kiosk_id }}] = marker_{{ kiosk_id }};

                infowindow_{{ kiosk_id }}.addListener('closeclick', () => {
                    delete(infowindows[{{ kiosk_id }}]);
                });
              // End marker {{ kiosk_id }}

        {%- endfor %}

                // Open infowindow for a marker if its kiosk ID is in the anchor tag
                if (window.location.hash.substr(1)) {
                    var id = window.location.hash.substr(1);
                    markerOpen(id);
                };

                // If there is only a single marker available in the search results, open its infowindow
                if (Object.keys(markers).length == 1) {
                    for (const [id, marker] of Object.entries(markers)) {
                        markerOpen(id);
                    };
                };

            }; // End initMap function

            // Create a function to close any open infowindows for markers
            function closeWindows(infowindows) {
                if (infowindows) {
                    for (const [key, value] of Object.entries(infowindows)) {
                        infowindows[key].close();
                        delete(infowindows[key]);
                    };
                };
            };

            // Create a function to open infowindows for markers by the id key
            function markerOpen(id) {
                google.maps.event.trigger(markers[id], 'click');
            };
    {%- endif %}

        </script>
    </head>
    <body{% if googlemaps_api_key and total_stations > 0 %} onload="initMap();"{% endif %}>
        <div id="left-box">
            <h1>
                <a href="{{ url_for('map') }}" title="Indego Bikes Map">
                    <span id="logo">🚲</span>
                    Indego Bikes Map
                </a>
            </h1>
            <h2 title="{{ total_stations }} station{% if total_stations != 1 %}s{% endif %}">
                {{ total_stations }} station{% if total_stations != 1 %}s{% endif %}
            </h2>
    {%- with messages = get_flashed_messages(with_categories=True) %}
        {%- if messages %}
            <div id="messages" title="Messages">
                <ul id="flashes">
            {%- for category, message in messages %}
                    <li class="flash-{{ category }}">
                        {{ message }}
                    </li>
            {%- endfor %}
                </ul>
            </div>
        {%- endif %}
    {%- endwith %}
    {%- if googlemaps_api_key and total_stations > 0 %}
            <div id="map-canvas"></div>
    {%- endif %}
        </div>
        <div id="right-box">
            <div id="station-list" title="Station List">
                <ol>
            {%- for kiosk_id, station in stations.items() %}
                    <li id="{{ kiosk_id }}" title="{{ kiosk_id }}">
                        <a href="#{{ kiosk_id }}" onclick="markerOpen({{ kiosk_id }});" title="{{ station['name'] | safe }}">
                            {{ station['name'] | safe }}
                        </a>
                    </li>
            {%- endfor %}
                </ol>
            </div>
        </div>
    </body>
</html>
